.vertical {
    background-color: black;
    width: 117px;
    min-height: 100vh;
}

.copyright {
    color: white;
    font-size: 12px;
    writing-mode: sideways-lr;
    margin: 164px 51px 59px 42px;
}

.activities {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 64px;
    height: 316px;
    margin: 256px 27px 0 26px;
}